nodered/evaluation-lab-25/nodered-group09/nodered-group09.json
[
    {
        "id": "8d41263fc5b2da42",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5df3ae3b243167e4",
        "type": "chatbot-telegram-receive",
        "z": "8d41263fc5b2da42",
        "bot": "a7f71212710396ec",
        "botProduction": "a7f71212710396ec",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "bf25ce992226cfc4"
            ]
        ]
    },
    {
        "id": "bf25ce992226cfc4",
        "type": "function",
        "z": "8d41263fc5b2da42",
        "name": "Command Parser",
        "func": "delete msg.ts;\ndelete msg.transport;\nmsg.payload.inbound = false;\nmsg.payload.fallback = null;\n\nlet user = msg.payload.userId;\n\nlet commands = msg.payload.content.split(\" \");\n\nlet message = {\n    ...msg,\n    location:{}\n}\n\nif(commands[0] == \"QUERY\"){\n    message.location.city = commands[1];\n    message.location.country = commands[2];\n    return [message, null, null, null];\n}\nelse if(commands[0] == \"TRACK\"){\n    message.payload.content = \"Tracking temperature for \" + commands[1];\n    \n    let array = [];\n\n    if(Array.from(context.keys()).includes(user)){\n        array = Array.from(context.get(user));\n        array.push([commands[1], commands[2]]);\n        context.set(user, array);\n    }\n    else{\n        array.push([commands[1], commands[2]]);\n        context.set(user, array);    \n    }\n    \n    return [null, message, null, null];\n}\nelse if(commands[0] == \"REPORT\"){\n    let array = Array.from(context.get(user));\n    message.payload.content = array;\n    return [null, null, message, null];\n}\nelse{\n    message.payload.content = \"No such command\";\n    return [null, null, null, message];\n}\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 140,
        "wires": [
            [
                "f4e5b658934fc946"
            ],
            [
                "3d3fbc6057f7cd81"
            ],
            [
                "5d1d2accfe870e8a"
            ],
            [
                "3d3fbc6057f7cd81"
            ]
        ]
    },
    {
        "id": "f4e5b658934fc946",
        "type": "openweathermap",
        "z": "8d41263fc5b2da42",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "",
        "country": "",
        "language": "en",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "90595816ebcbaedc"
            ]
        ]
    },
    {
        "id": "90595816ebcbaedc",
        "type": "chatbot-message",
        "z": "8d41263fc5b2da42",
        "name": "Text generator",
        "message": [
            {
                "message": "The temperature in {{msg.payload.location}} is {{msg.payload.tempc}}C"
            }
        ],
        "language": "none",
        "x": 920,
        "y": 100,
        "wires": [
            [
                "3d3fbc6057f7cd81"
            ]
        ]
    },
    {
        "id": "3d3fbc6057f7cd81",
        "type": "chatbot-telegram-send",
        "z": "8d41263fc5b2da42",
        "bot": "a7f71212710396ec",
        "botProduction": "a7f71212710396ec",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 1050,
        "y": 160,
        "wires": []
    },
    {
        "id": "5d1d2accfe870e8a",
        "type": "function",
        "z": "8d41263fc5b2da42",
        "name": "Report Sender",
        "func": "let locationArray = [];\nfor(let i = 0; i < msg.payload.content.length; i++){\n    let tempMessage = {\n        ...msg,\n        location:{\n            city: msg.payload.content[i][0],\n            country: msg.payload.content[i][1],\n        }\n    }\n    locationArray.push(tempMessage);\n}\n\nreturn [locationArray, null];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"index\", 0);",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 220,
        "wires": [
            [
                "f4e5b658934fc946",
                "26d629232e416b97"
            ]
        ]
    },
    {
        "id": "26d629232e416b97",
        "type": "debug",
        "z": "8d41263fc5b2da42",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "a7f71212710396ec",
        "type": "chatbot-telegram-node",
        "botname": "Node-RED eval-lab-25",
        "usernames": "",
        "polling": 1000,
        "store": "",
        "log": "",
        "debug": false,
        "skipMediaFiles": false,
        "webHook": "",
        "connectMode": "polling",
        "storeMessages": true,
        "enableMissionControl": false,
        "inspectMessages": true,
        "chatbotId": ""
    },
    {
        "id": "71343f21a13967cc",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-chatbot": "1.2.4",
            "node-red-node-openweathermap": "1.0.1"
        }
    }
]